
body{
  /* background-color: rgb(189, 184, 178); */
}

/* .back-button {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 1.2em;
  color: #848484;
  text-decoration: none;
} */

.button-11{
    
    /* color: rgb(115, 138, 114);
    /* color: rgb(138, 133, 114); 
    margin-top: 0.5em;
    background-color: #312d3592; */
    width: 20vw;
    margin: auto;
    margin-bottom: 1em;
}

.field{
    border: 2px solid rgb(115, 138, 114);
    font-size: 0.8em;
    white-space: normal;
    word-wrap: break-word;
    width: 20em;
    height: 5em;
    color:rgb(162, 162, 170);
  }

.collapsible {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%;
    background-color: #312d3578;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #323038;
  }

  
  .collapsiblecontent {
    padding: 0px;
    overflow: hidden;

    max-height: 0;
    transition: max-height 0.25s ease;
  }

  .collapsible:after {
    content: '\002B';
    background-color: #312d3578;
    font-weight: bold;
  }
  
  .active:after {
    content: "\2212";
  }

  .displayer{
    border-radius: 10px;
    background: #2828290c;
    margin-top: 1rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
    column-count: 1;
    width: 90%;
  }

  .content{
    /* background: #564a5b2e; */
    width: 70%;
    /* this is causing errors where content is at the bottom */
    /* margin: auto; */
    margin-bottom: 1em;
    /* margin-left: 10em;
    margin-right: 10em; */
    border-radius: 10px;
  }

  /* blog selection page */
  .displayer h5{
    color: #c0b4a5;
    font-weight: bold;

  }

  /* The following two are used for hiding  */
  .nonBlog{
    display: block;
  }

  .isBlog{
    display: none;
  }

  .blogSelection{
    width: 65%;
    margin: auto;
    margin-bottom: 2em;
    background-color: #564a5b19;

    color:#c0b4a5;

    /* margin-left: 10em;
    margin-right: 10em; */
    padding: 0.5em 2.5em;
    border-radius: 10px;
  }

  .blogSelection:hover{
    cursor: pointer;
  }

  .blogHeader{
    /* margin: auto; */
    display:none;
    margin-top: 6em;
    margin-bottom: 1em;
    padding: 0em 0em;
    /* background-color: #564a5b2e; */
    border-radius: 10px;
    text-align: left;
    width: 80%;
  }

  .blogHeader *:not(h2){
    color: rgba(175, 175, 181, 0.793);
  }
  
  .blogHeader h2{
    font-size: 2.1em;
    font-weight: bold;
    color:#c0b4a5;
  }

  .blogHeader .fa {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .blogHeader h5 {
    display: inline-block;
    font-size: 0.95em;
    vertical-align: middle;
  }

  .blogHeader hr{
    /* width: 95%; */
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0.3px solid rgba(184, 184, 191, 0.2);
  }

  #blogContent{
    /* border: solid 1px rgba(108, 108, 114, 0.503); */
    width: 85%;
  }

  /* all elements in div that is not in code */
  #blogContent > *:not(code > *) {
    white-space: pre-wrap;
    font-family: 'system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif;
    color: rgb(213, 212, 209);
    font-weight: 300;
  }

  #blogContent ol{
    margin: 1em 0;
    margin-left: 1em;
  }
  
  #blogContent ol {
    display: block;
    /* list-style-type: disc; */
    margin-before: 1em;
    margin-after: 1em;
    margin-start: 0;
    margin-end: 0;
    padding-start: 40px; }

  /* ------------------- */
  /* blog displayer */
  


  .blogContainer{
    /* display:none; */
    margin-bottom: 1em;
    padding: 2em 3em;
  }

  a{
    text-decoration: none;
  }

  #blogContent figure{
    width: 60%;
    display: block;
    margin: auto;
  }

  #blogContent figcaption{
    text-align: center;
    font-size: 0.85em;
    color: rgb(184, 184, 191);
  }

  #blogContent figure img {
    width: 100%;
    display: block;
    margin: auto;
    /* Your styles here */
  }  
  
  /* #blogContent img:not(figure img) {
    width: 50%;
    display: block;
    margin: auto;
  } */

  #blogContent hr{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid rgba(184, 184, 191, 0.3);
  }

  #blogContent img{
    width: 60%;
    display: block;
    margin: auto;
    /* Your styles here */
  }

  @media screen and (max-width: 500px) {

    .blogHeader h2{
      font-size: 1.8em;
    }
    .blogContainer{
      padding: 1.5em 1.5em;
    }
    .blogSelection{
      width: 70vw;
      margin: auto;
      margin-bottom: 1em;
      padding: 1em 2em;
    }

    .blogSelection *{
      margin:auto;
    }

    .content{
      margin-bottom: 1em;
    }

    #blogContent{
      /* border: solid 1px rgba(108, 108, 114, 0.503); */
      width: 90%;
  
    }
  
    #blogContent *:not(code){
      /* font-size: 0.95em; */
    }

    #blogContent code{
      /* font-size: 0.95em; */
    }

    #blogContent figcaption{
      /* font-size: 0.82em; */
    }
  

    #blogContent figure{
      width: 100%;
    }

    #blogContent img{
      width: 100%;
    }
  }
