*,
*:before,
*:after {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  color: inherit;
  scrollbar-width: thin;
  scrollbar-color: #404040 #101010;
}

html,
body {
  /* height: 100%; */
}

:root {
  accent-color: #8e62ff;
  --hover-color-01: #3e397b;
  --hover-color-02: #2f2c4f;
  --focus-color: #8f8ffe;
  --focus-color-02: #545479;
  --focus-color-03: #b1b1e5;
  --activated-color: #44415d;
  --selection-color: #8e62ff;
  --selection-02: #c0a8ff;
  --checked-color: #6a607f;
  --bg-color: #222024;
  --base-01: #312d35;
  --base-02: #67607b;
  --base-03: #a795d8;
  --border-color: #594f63;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 0.4; /* Firefox */
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #222;
	position: relative;
	min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Lexend Deca", sans-serif;
  color: #dcdde6;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.textblock {
  text-align: left;
  font-size: smaller;
  
  white-space: pre-wrap;
}

.textblock button {
  display: block;
  width: 50vw;
  max-width: 50vw;
  height: 100%;
  align-items: left;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #e2e2e2;
  background: var(--base-01);
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  background-image: url('https://abs.twimg.com/emoji/v1/72x72/1f4cb.png');
  background-size: 60% auto;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, .29);
  border-bottom-color: rgba(0, 0, 0, .36);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .12); */
}
.textblock button:before {
  content: '';
  display: none;
  position: absolute;
  z-index: 9998;
  top: 35px;
  left: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, .72);
}
.textblock button:after {
  content: 'Copy to Clipboard';
  display: none;
  position: absolute;
  z-index: 9999;
  top: 40px;
  left: -37px;
  width: 114px;
  height: 36px;
  color: #fff;
  font-size: 10px;
  line-height: 36px;
  text-align: center;
  background: rgba(0, 0, 0, .72);
  border-radius: 3px;
}
.textblock button:hover {
  background-color: #eee;
}
.textblock button:hover:before, .textblock button:hover:after {
  display: block;
}
.textblock button:active, .textblock button:focus {
  outline: none;
}
.textblock button:active:after, .textblock button:focus:after {
  content: 'Copied!';
}


.textblock button{
  /* display: block;
  width: 50vw;
  max-width: 50vw;
  height: 100%;
  align-items: left;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #e2e2e2;
  background: var(--base-01);
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; */

  
}

.pf .close{
    /* display:block; */
    width:10px;
    height:10px;
    position:absolute;
    top:3px;
    right:3px;
    background:rgba(54, 54, 54, 0.384);
    overflow:hidden;
    text-indent:-9999px;
}

.textblock .close {
  /* display:block; */
  width:10px;
  height:10px;
  position:absolute;
  top:3px;
  right:3px;
  background:rgba(54, 54, 54, 0.384);
  overflow:hidden;
  text-indent:-9999px;
}

.droparea{
  display: grid;
  /* flex-direction: row; */
  text-align: center;
  padding: 1em;
  border-radius: 6px;
  gap: 0.3em;
  background-color: #312d3525;
}

.droparea div{
  font-size: 12px;
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 0.5em;
}

.droparea input{
  padding: 0.95em;
}

.droparea form{
  font-size: 12px;
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 0.5em;
}

.droparea button{
  width: 100px;
  height: 2.35em;
  background-color: #2f2c4f;
  margin: auto;
  padding: 0.1em;
}

/* popup*/
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  width: 50vw;
  min-width: 50vw;
  bottom: 50vh;
  right: 50vw;
  transform: translate(50%, 20%);
  flex-direction: column;
  background-color: #1c1c1ce2;
  padding: 1em;
  border-radius: 6px;
  gap: 1em;
  z-index: 100;
}

.form-container{
  display: flex;
  flex-direction: column;
  column-count: 2; 
}
.form-container div{
  display: block;
  text-align: left;
  margin: auto;
  padding-bottom: 1em;
}

/* CSS */
.button-11 {
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #e2e2e2;
  background: var(--base-01);
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-11:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.content{

}

input{
  background-color: var(--base-01);
  border: none;
  padding: 0.25em;
  border-radius: 0.5em;
}

.field{
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  background-color: var(--base-01);
  width: 100%;
  height: 5em;
  /* flex-grow: 1; */
  position: relative;
  outline-offset: -0.0625rem;
  outline-style: solid;
  outline-width: 0.0625rem;
  outline-color: transparent;
  transition: outline 0.1s ease;
}
textarea {
    resize: none;
    padding: 0.25em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--base-01);
    width: 100%;
    height: 5em;
    /* flex-grow: 1; */
    position: relative;
    caret-color: currentcolor;
    outline-offset: -0.0625rem;
    outline-style: solid;
    outline-width: 0.0625rem;
    outline-color: transparent;
    transition: outline 0.1s ease;
  }

.textmasonry {
    border-radius: 6px;
    background: #00000015;

	margin-top: 2rem;
	padding: 0.7rem;
	column-count: 1;
    min-width: 50%;
	/* max-width: 95vw; */

	/* gap: 0.6rem; */
}

.textmasonry::after {
	content: "";
	display: block;
	clear: both;
}

.textmasonry div {
  margin: 0;
  width: 70%;
  vertical-align: middle;
  margin: auto;
  display: block;
  break-inside: avoid;
  cursor: pointer;
  position: relative;
}

.textmasonry div:not(:first-child) {
	margin-top: 1rem;
}

.textmasonry div button {
	/* width: 400px; */
	width: 100%;
	height: auto;
	user-select: none;
	vertical-align: middle;
}

@media (max-width: 1024px) {
	.textmasonry {
		column-count: 1;
		/* column-count: 3; */
		/* gap: 2.5vw; */
		padding: 0.7rem;
	}

	.textmasonry figure:not(:first-child) {
		/* this line controls the gap between pics*/
		margin-top: 1vw;
	}
}

@media screen and (max-width: 500px) {
	.textmasonry {
		margin-top: 0rem;
		column-count: 1;
		padding: 1rem;
	}

	.textmasonry figure:not(:first-child) {
		/* this line controls the */
		margin-top: 4vw;
	}

	.photo {
		padding-bottom: 0rem;
	}
}

.w3-greyscale-mmin,
.w3-grayscale-mmin {
    filter: grayscale(25%)
}

