body {
  background-color: #f7f3eb;
}

a{
  text-decoration: none;
}

.header-button-container {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 0.85em;
  color: #666565c3;
  text-decoration: none;
}

.header-button-container a {
  margin-right: 15px;
  text-decoration: none;

}

@media screen and (max-width: 500px) {
  .header-button-container {

    font-size: 0.75em;

  }
}

.hljs {
  border-radius: 8px;
  /* padding-top: 0em; */
}

/* pre code.hljs {
  white-space: pre;
  padding-top: 1.00em;
  display: block;
} */




/* ///////////////////////// */
/* main page */

.maindiv {
  /* text-align: center; */
  text-align: center;
  max-width: 60%;
  background-color: rgba(84, 80, 73, 0.05);
  /* Slightly opaque white background color */
  border-radius: 6px;
  padding-top: 0.25em;
  padding-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 1em auto;
}

.maindiv h4{
  font-size: 1.15em;
  /* font-weight: 300; */
  /* font-style: italic; */
  color: #4f4f4f8e;
  padding-right: 0.5em;
  /* padding-top:0em; */
  margin-bottom: 0.75em;
  text-align: right;
}

.maindiv button{
  /* width:100%; */
}

@media only screen and (max-width: 767px) {

  /* For phones with a maximum width of 767px */
  .maindiv {
    /* text-align: left; */
    max-width: 80%;
  }

  .maindiv h4{
    font-size: 1em;
  }


}

.lucktext {
  font-size: 0.95em;
  max-width: 90%;
  margin: auto;
}

#latestBlogTitle{
  font-size: 1.3em;
  font-weight: 600;
  color: #4f4f4f;
  margin-bottom: 0.5em;
  text-align: left;
}

#latestBlogIntro{
  font-size: 1em;
  /* margin-bottom: 0.5em; */
  /* display:inline-block; */
  text-align: left;
  color: rgb(91, 99, 105);

}

#blogRedirect h3{
  line-height: 1.35em;
}

#blogRedirect a{
  /* display:inline-block; */
}

#latestBlogLink{
  color:rgb(110, 135, 156);
  font-size:1.1em;
}

#luckButton {
  display: block;
  width: 65%;
  height: 40px;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 2em;
  /* font-family: "Raleway", Arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  /* color: rgb(91, 99, 105); */
  color: #4f4f4f;

  background-color: #e5e0d8c5;
  border: none;
}

@media only screen and (max-width: 767px) {

  #blogRedirect span{
    /* text-align: left; */
    /* text-align-last: justify; */
    /* display:flex; */
  }

  #latestBlogIntro{
    font-size: 0.9em;
    text-align: left;
  }
  
  #latestBlogTitle{
    font-size: 1.2em;
  }

  #latestBlogLink{
    font-size:1em;
    text-align: left;
  }

  #luckButton{
    /* padding: auto 1em; */
    /* font-size: smaller; */
    width: 80%;
  }
}



.button-11:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

@media only screen and (max-width: 767px) {

  /* For phones with a maximum width of 767px */
  .lucktext {
    font-size: 0.75em;
  }

  .button-11 {
    width: 90%;
  }
}

*:empty {
  /* display:none; */
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}