.maintile{
    /* main tile with headline and description of service */
/* 
    background-color: #e1e1e192;
    border-radius: 3px;
    padding: 1em; */

    text-align: center;
    max-width: 100vw;
    background-color: #f2f2f2;
    /* Slightly opaque white background color */
    border-radius: 8px;
    padding-top: 0.5em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 1em auto;
}

.maintile h4{
    /* service headline */
    font-size: 2em;
    /* font-weight: bold; */
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    /* font-weight: 300; */
    /* font-style: italic; */
    color: #222222b4;
    padding-right: 0.5em;
    /* padding-top:0em; */
    margin-bottom: 0.75em;
    /* text-align: right; */
}

.featurerow{
    margin-bottom: 0px;
}

.tile{
    /* white square tile with feature headline and description of feature */

    background-color: #ffffff;
    border-radius: 5px;
    padding: 1em;
    /* padding-bottom: 5em; */
    padding-left: 2em;
    padding-right: 2em;
    height: 12em;
    align-items: center;
    margin-bottom: 1em;
    /* text-align: left; */
}

.tile h5{
    /* feature headline */
    font-size: 1.2em;
    font-weight: bold;
    color: #4f4f4f;
}

.tile p{
    /* feature description */
    font-size: 0.95em;
    color: #4f4f4f;
    /* padding-bottom: 1em; */
}

.xx .kk .pricing{
    padding-left: 0%;
    padding-right: 0%;
    padding: 0 0rem;
}

.pricetile{
    /* white square tile with feature headline and description of feature */
    padding-top: 1em;
    background-color: #ffffff;
    border-radius: 9px;
    /* padding-bottom: 5em; */
    height: 25em;
    margin-right: 0px;
    margin-left: 0px;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 1.5em;

    /* margin-bottom: 1em; */
    /* text-align: left; */
}

.monthly{
    background-color: rgb(221, 235, 248);
}

@media only screen and (min-width: 993px) {
.row .col.offset-l1point5 {
    margin-left: 12.5%;
  }
}

.pricetile h5{
    /* feature headline */
    font-size: 1.2em;
    font-weight: bold;
    color: #4f4f4f;
}

.pricetile p{
    /* feature description */
    font-size: 0.95em;
    color: #4f4f4f;
    /* padding-bottom: 1em; */
}

.pricetile .pricetext{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #4f4f4f;
}

/* mobile */
@media screen and (max-width: 600px) {
    .pricetile{

    }
}