#technique-select{
    color: rgb(110, 135, 156);
    font-size: 0.8em;
    display: flex;
    width: 90%;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    background-color: #e5e0d800;
    border: none;
}