/* css file for a sudoku grid */
/* Set the font family and size for the grid */
.sudoku {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0 auto;
    /* margin-left: 20vw; */
    /* display: block; */
    width: 50%;
    margin-bottom: 2.5%;
  }

/* mobile */
@media only screen and (max-width: 600px) {
    .sudoku {
    
      width: 80%;
    
    }
  }
  
  /* Style the rows and cells of the grid */
  .sudoku-row {
    display: flex;
    /* align center */
    justify-content: center;
  }
  .sudoku-cell {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border: 1.3px solid rgb(104, 101, 101);
    text-align: center;
    line-height: 40px;
    background-color:rgb(173, 189, 189);
    background-color:rgba(217, 228, 228, 0.5);
    color: rgb(86, 92, 89);
    color: #261d2a;

    /* background-color:rgb(238, 238, 200); */
  }

  
  @media only screen and (max-width: 600px) {
    .sudoku-cell{
      min-width: 35px;
      min-height: 35px;
      width: 35px;
      height: 35px;
      font-size: 1em;
    }
  }

  /* not mobile */
  @media only screen and (min-width: 600px) {
    .sudoku-cell:hover{
      background-color:#e5e2de;
    }
  }


  /* borders */

  /* up */
  .sudoku-cell[data-row="1"]{
    border-top: 3px solid rgb(70, 68, 68);
  }

  .sudoku-cell[data-row="4"],
  .sudoku-cell[data-row="7"] {
    border-top: 2px solid rgb(70, 68, 68);
  }

  /* bottom */
  .sudoku-cell[data-row="3"],
  .sudoku-cell[data-row="6"]{
    /* border-bottom: 2px solid rgb(70, 68, 68); */
  }
  .sudoku-cell[data-row="9"]{
    border-bottom: 3px solid rgb(70, 68, 68);
  }

  /* right */
  .sudoku-cell[data-col="3"],
  .sudoku-cell[data-col="6"]{
    /* border-right: 2px solid rgb(70, 68, 68); */
  }

  .sudoku-cell[data-col="9"]{
    border-right: 3px solid rgb(70, 68, 68);
  }

  /* left */
  .sudoku-cell[data-col="7"],
  .sudoku-cell[data-col="4"]{
    border-left: 2px solid rgb(70, 68, 68);
  }
  .sudoku-cell[data-col="1"]{
    border-left: 3px solid rgb(70, 68, 68);
  }

  /* Style the cells that are pre-filled with numbers */
  .sudoku-cell.prefilled {
    color: rgb(86, 92, 89);

  }

  /* style buttons */
  .sudoku-button{
    color: rgb(110, 135, 156);
    font-size: 1.1em;
    display: flex;
    width: 90%;
    cursor: pointer;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    background-color: #e5e0d86c;
    border: none;
  }

  .sudoku-button:active{
    background-color: #e5e0d8;
  }

  .sudoku-button:focus{
    background-color: #e5e0d86c;

  }

  .sudoku-button:hover{
    background-color: #e5e2de;
  }