/* css file for a sudoku grid */



header{
  padding: 20px 16px !important;
}

@media only screen and (max-width: 600px) {
  header{
    padding: 15px 0px !important;
    padding: 100px 0px 15px 0px !important;
  }
}


/* loading */
.floatingBox {
  /* display at center */

  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  width:400px;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .floatingBox {
    width: 90%;
  }
}

.floatingBox .boxtitle{
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0em;
  color: rgb(110, 135, 156);
}

button{
  color: rgb(110, 135, 156);
  font-size: 1.5em;
  /* width: 100%; */
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  background-color: #e5e0d86c;
  background-color: #f7f3eb;
  border: none;
}

.floatingBox button{
  color: rgb(110, 135, 156);
  font-size: 1.1em;
  /* display: flex; */
  width: 100%;
  cursor: pointer;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  background-color: #e5e0d86c;
  border: none;
}

.codebox{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: #81807e17;
  border-radius: 10px;
  margin-left: 5% !important;
  width: 90% !important;
}

#exportcodedisplay{
  overflow-wrap: break-word;
}

.floatingBox.show {
  display: block;
}



/* Set the font family and size for the grid */
.sudoku {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0 auto;
    /* margin-left: 20vw; */
    /* display: block; */
    width: 50%;
    margin-bottom: 1%;
  }

/* mobile */
@media only screen and (max-width: 600px) {
    .sudoku {
    
      width: 80%;
    
    }
  }
  
  /* Style the rows and cells of the grid */
  .sudoku-row {
    display: flex;
    /* align center */
    justify-content: center;
  }
  .sudoku-cell {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border: 1.3px solid rgb(104, 101, 101);
    text-align: center;
    line-height: 40px;
    /* background-color:rgb(173, 189, 189); */
    background-color:rgba(217, 228, 228, 0.5);
    /* color: rgb(86, 92, 89); */
    /* color: #261d2a; */
    color: rgb(110, 135, 156);

    /* background-color:rgb(238, 238, 200); */
  }

  
  @media only screen and (max-width: 600px) {
    .sudoku-cell{
      min-width: 35px;
      min-height: 35px;
      width: 35px;
      height: 35px;
      font-size: 0.9em;
    }
  }

  /* not mobile */
  @media only screen and (min-width: 600px) {
    .sudoku-cell:hover{
      /* background-color:#e5e2de; */
      background-color: #c6af7a1e;
    }
  }


  /* borders */

  /* up */
  .sudoku-cell[data-row="1"]{
    border-top: 3px solid rgb(70, 68, 68);
  }

  .sudoku-cell[data-row="4"],
  .sudoku-cell[data-row="7"] {
    border-top: 2px solid rgb(70, 68, 68);
  }

  /* bottom */
  .sudoku-cell[data-row="3"],
  .sudoku-cell[data-row="6"]{
    /* border-bottom: 2px solid rgb(70, 68, 68); */
  }
  .sudoku-cell[data-row="9"]{
    border-bottom: 3px solid rgb(70, 68, 68);
  }

  /* right */
  .sudoku-cell[data-col="3"],
  .sudoku-cell[data-col="6"]{
    /* border-right: 2px solid rgb(70, 68, 68); */
  }

  .sudoku-cell[data-col="9"]{
    border-right: 3px solid rgb(70, 68, 68);
  }

  /* left */
  .sudoku-cell[data-col="7"],
  .sudoku-cell[data-col="4"]{
    border-left: 2px solid rgb(70, 68, 68);
  }
  .sudoku-cell[data-col="1"]{
    border-left: 3px solid rgb(70, 68, 68);
  }

  /* Style the cells that are pre-filled with numbers */
  .sudoku-cell.prefilled {
    color: rgba(86, 92, 89, 0.902);

  }

  /* default class for selected cell */
  .sudoku-cell.default {
    /* background-color: #e5e0d8; */
    color: #465b6e;
  }

  /* class for selected cell */
  .sudoku-cell.selected {
    background-color: #c6af7a30;
    /* color: rgb(110, 135, 156); */
  }

  /* style buttons */
  .sudoku-button{
    color: rgb(110, 135, 156);
    font-size: 1.1em;
    display: flex;
    width: 90%;
    cursor: pointer;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    background-color: #e5e0d86c;
    border: none;
  }

  /* non-mobil */
  @media only screen and (min-width: 600px) {
    .mobile-numpad{
      /* margin: 0.5em; */
      display: none !important;
    }

    .mobile-numpad *{
      display: none !important;
    }
  }

  .mobile-numpad{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-numpad .top{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-numpad .bottom{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* first of top */
  .mobile-numpad .top:first-child{
    /* margin-left: 12.5% !important; */
  }
  /* first of bottom */
  .mobile-numpad .bottom:first-child{
    /* margin-left: 12.5% !important; */
  }


  .mobile-numpad .s1{
    width: 10% !important;
  }

  .num-button{
    width: 40px !important;
    height: 40px !important;
    font-size: 1.1em !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e0d86c;
    background-color: #e5e0d819 !important;
    border-radius: 6px;
    border: solid 1px rgba(110, 135, 156, 0.501);
    /* height: 90% !important; */
  }

  .num-button i{
    font-style: normal !important;
  }

  .bottom-row{
    margin-bottom: 7.5%;
  }

  /* mobile */
  @media only screen and (max-width: 600px) {
    .game .col{
      padding: 0 0.25em;
    }

    .sudoku-button{
      width: 90%;
      font-size: 0.95em;
    }
  }

  .sudoku-button:active{
    background-color: #e5e0d8;
  }

  .sudoku-button:focus{
    background-color: #e5e0d86c;
  }

  .sudoku-button:hover{
    background-color: #e5e2de;
  }

  .sudoku-button:disabled{
    /* background-color: #e5e0d8; */
    color: rgba(76, 81, 85, 0.44);
    cursor: not-allowed;
  }

  .timer{
    color: rgb(110, 135, 156);
    font-size: 1.1em;
    display: flex;
    width: 90%;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    background-color: #e5e0d86c;
    border: none;
  }

  .timer .timer-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    font-style: normal !important;
    margin-left: 0.5em;
  }

  .play-pause{
    background-color: #ffff0000;
    border: none;
    cursor: pointer;
    color: rgb(110, 135, 156);
    margin-left: 35%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 0.9em;
  }

  /* mobile */
  @media only screen and (max-width: 600px) {
    .play-pause{
      margin-left: 5%;
    }
  }

  .play-pause:focus{
    background-color: #ffff0000;
  }