/* Style the button that is used to open and close the collapsible content */

.button-11{
    color: rgb(115, 138, 114);
    margin-top: 0.5em;
    background-color: #312d3592;
}

.field{
    border: 2px solid rgb(115, 138, 114);
    font-size: 0.8em;
    white-space: normal;
    word-wrap: break-word;
    width: 20em;
    height: 5em;
    color:rgb(162, 162, 170);
  }

.collapsible {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%;
    background-color: #312d3578;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #323038;
  }

  
  .collapsiblecontent {
    padding: 0px;
    overflow: hidden;

    max-height: 0;
    transition: max-height 0.25s ease;
  }

  .collapsible:after {
    content: '\002B';
    background-color: #312d3578;
    font-weight: bold;
  }
  
  .active:after {
    content: "\2212";
  }

  .displayer{
    border-radius: 10px;
    background: #2828290c;
    margin-top: 1rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
    column-count: 1;
    width: 90vw;
  }

  .content{
    margin-bottom: 1em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
  }

  p{
    white-space: pre-wrap;
    font-family: 'Roboto';
    color: rgb(149, 149, 155);
  }